<aside class="menu-sidebar hidden lg:block">
  <div class="logo">
    <a href="home.html">
      <img
        src="assets/images/logo.png"
        alt="luv2shop"
        class="max-w-full h-auto"
      />
    </a>
  </div>

  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="navbar-list list-none m-0 p-0">
        @for (category of productCategories(); track category.id) {
          <li>
            <a routerLink="category/{{category.id}}" routerLinkActive="active-link">{{ category.categoryName }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>
</aside>
