<fieldset class="form-area">
  <h3>Shipping Address</h3>
  <div class="row">
    <div class="col-md-2">
      <label for="country">Country</label>
    </div>
    <div class="col-md-9">
      <div class="input-space">
        <select
          #countrySelect
          id="country"
          [formField]="shippingForm().country"
          (change)="onCountryChange(countrySelect.value)"
        >
          @for (country of countries(); track country.id) {
            <option [value]="country.code">
              {{ country.name }}
            </option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="street">Street</label>
    </div>
    <div class="col-md-9">
      <div class="input-space">
        <input type="text" placeholder="Street" id="street" [formField]="shippingForm().street" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="city">City</label>
    </div>
    <div class="col-md-9">
      <div class="input-space">
        <input type="text" placeholder="City" id="city" [formField]="shippingForm().city" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="state">State</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <select id="state" [formField]="shippingForm().state">
            @for (state of states(); track state.id) {
              <option [value]="state.name">
                {{ state.name }}
              </option>
            }
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="zipCode">Zip Code</label>
    </div>
    <div class="col-md-9">
      <div class="input-space">
        <input
          type="text"
          placeholder="Zip Code"
          id="zipCode"
          [formField]="shippingForm().zipCode"
        />
      </div>
    </div>
  </div>
  <div class="input-space">
    <input type="checkbox" id="billingSameAsShipping" [formField]="billingSameAsShipping()" />
    <label for="billingSameAsShipping"> Billing address is the same as shipping address </label>
  </div>
</fieldset>
